<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.axlyody.disqusandroid.lib">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name="id.axlyody.disqusandroid.lib.DisqusAuthenticate"/>
    </application>
</manifest>